@charset 'UTF-8';
@font-face{
    font-family:'AlexBrush' ;
    src: url(../fonts/AlexBrush.ttf) format('truetype');
}
:root{
    --font-salão:'AlexBrush', cursiva;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    background-color: bisque;
    background-image: url('../image/fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center ;
}

#cab {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.486);
    height: 20vh;
    width: 90vw;
    margin: auto;
    margin-top: 0.1em;
    border-radius: 10px;
}

#cab > #subcab > h1 {
    font-family: var(--font-salão);
    font-size: 4.5em;
    text-shadow: 2px 2px 2px cadetblue;
}
#cab > #subcab > h1:hover {
    text-shadow: 2px 2px 4px cadetblue,
     2px 2px 4px rgb(98, 109, 170);
    filter: blur(10);
    filter: brightness(1.5);
}

#cab > #subcab > p {
    font-family:'Courier New', Courier, monospace;
    font-size: 1.2em;
    font-style: italic;
    line-height: 0px;
    text-shadow: 1px 1px 1px cadetblue;
}

#menu > ul {
    list-style-type: none;
}

#menu > ul > li {
    display: inline-block;
    margin-left: 1em;
    margin-top: 1.5em;
}

#menu > ul > li > a {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    background-color: rgba(255, 255, 255, 0.486);
    padding: 10px;
    border-radius: 10px;
}

#conteiner {
    text-align: justify;
    width: 70vw;
    height: 50vh;
    margin: auto;
}

#conteiner > #corpo {
    margin-top: 3em;
}

#conteiner > #corpo > p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    font-weight: bold;
}