@charset 'UTF-8';
@font-face{
    font-family:'AlexBrush' ;
    src: url(../fonts/AlexBrush.ttf) format('truetype');
}
:root{
    --font-salão:'AlexBrush', cursiva;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: bisque;
    background-image: url('../image/fundo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
body {
    width: 960px;
    margin: auto;
}

#cab {
    height: 150px;
    margin-top: 5px;
    box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

#cab {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cab #subcab {
    width: 400px;
    height: 150px;
}

#cab #subcab h1, p {
    text-align: center;

}

#subcab h1 {
    font-family: var(--font-salão);
    font-size: 4.8em;
    text-shadow: 2px 2px 3px #fff, 2px 2px 3px #000;
    line-height: 1;
    margin-top: 0.3em;
}

#subcab p {
    font-family: var(--font-salão);
    font-size: 1.4em;
    line-height: 0px;
    font-weight: bold;
    text-shadow: 2px 2px 3px #fff, 2px 2px 3px #000;
}
/* Formatando navegação*/
#menu {
    width: 150px;
    height: 500px;
    float: left;
    margin: 15px 15px 15px 0px;
    box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

#menu {
     display: flex;
     justify-content: center;
     align-items: flex-start;
     
}
#menu ul {
    flex-basis: 100%;
    list-style: none;
    margin-top: 3em;
    /*border: 2px solid rgba(255, 255, 255, 0.5);*/
}

#menu li {
    display: flex;
    align-items: center;
    height: 50px;
    font-style: italic;
    margin-top: 0.5em;
    /*border: 2px solid rgba(255, 255, 255, 0.5);*/
}

#menu ul #l1:hover {
    flex-basis: 100%;
    background-color: ;
    box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.5);
}

#menu ul #l2:hover {
    flex-basis: 100%;
    background-color: ;
    box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.5);
}

#menu ul #l3:hover {
    flex-basis: 100%;
    background-color: ;
    box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.5);
}

#menu ul #l4:hover {
    flex-basis: 100%;
    background-color: ;
    box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.5);
}
#menu a {
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    padding-left: 0.5em;
    color: #fff;
}

#lateral {
    width: 150px;
    height: 500px;
    float: right;
    margin: 15px 0px 15px 15px;
    box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
#corpo {
    width: 630px;
    height: 500px;
    float: left;
    margin: 15px 0px 15px 0px;
    box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

#rodape {
    width: 960px;
    height: 50px;
    float: left;
    margin: 0px 0px 15px 0px;
    box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}