@charset "UTF-8";

@media screen and (max-width: 768px) {
    html, body {
        background-image: url('../image/fundo02.jpg');
        background-repeat: no-repeat;
    }

    #menu {
        position: relative;
        left: -15px;
        width: 96vw;
        height: 15vh;
        margin: auto;
    }

    #menu > ul > li {
        display:block;
        margin-top: 0.2em;
    }

    #menu > ul > li > a {
        display: block;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        color: #000;
        background-color:  rgba(255, 255, 255, 0.486);
        padding: 10px;
        border-radius: 5px;
    }

    #menu > ul > li > a:hover {
        color: rgb(43, 97, 99);
        background-color: antiquewhite;
        border: 1px solid rgb(152, 184, 185);

    }
    
    #conteiner {
        background-color: rgba(255, 255, 255, 0.486);
        width: 90vw;
        height: 50vh;
        margin-top: 0px;
        border-radius: 5px;
    
    }

    #conteiner > #corpo {
        margin-top: 3.7em;
        padding: 0.8em;
    } 

    #conteiner > #corpo > p {
        font-family: 'Courier New', Courier, monospace;
        font-size: 0.8em;
        font-weight: bold;
    }

    #conteiner > #corpo2 {
        width: 40vw;
        margin: auto;
        margin-top: 0.3em;
    
    }
    
    th{
        font-size: 1.1em;
        text-align: center;
    }
     th, td{
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        margin: auto;
        padding: 0.1em;
        background-color: rgb(255, 255, 255,0.0);
        border-radius: 0px;
    }
    td {
        font-size: 0.8em;
    }
    
}